@use "@/styles/variables" as vars;

body {
  font-family: vars.$font-family;
  font-size: vars.$font-size-base;
  background-color: vars.$secondary-color;
  color: vars.$primary-color;
}

html {
  padding: 0;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
